
.holdBox{
    width: 100%-2px;
   /* border:1px solid black;*/
   margin:0 20px;
   background-color: azure;
   box-shadow: 2px 2px 20px  azure
}

.searchBox{
    position: relative;
    width: 540px;
    padding: 10px;
    margin: 10px;
    height: 50px;
    /*background-color: rgb(74, 225, 252);*/
    left: 50%;
    transform: translate(-50%);
}

.buttonBox{
    float: left;;
}

.inputBox{
    width: 400px;
    float: left;
}
.result{
    /*border: 1px solid black;*/
    margin: 10px 20% ;
    padding:5px 10px;
}

.content{
    /*border: 1px solid black;*/
    margin: 10px 10px ;
    padding:5px 10px;
}


.list{
    padding:5px;
}.list:hover{
    background-color: rgb(74, 225, 252);
    border-radius: 5px;
}