<div class="holdBox">
    
  <button (click)="a()">a</button>
  <div class="searchBox">
    
    <div class="buttonBox">
     <nz-select 
     style="width: 120px;" 
     [compareWith]="compareFn" 
     [(ngModel)]="selectedValue" 
     nzAllowClear 
     nzPlaceHolder="Choose"
     ><!--(ngModelChange)="getChoice($event)"-->
      <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>
    <div class="inputBox">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" >
       <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchData.KeyWord"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon type="search"></i></button>
      </ng-template>
    </div>
  </div>

  <div class="result" *ngIf="isResult">
    
    <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
     <ng-template #item let-item>
        <nz-list-item  class="list">
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzDescription="{{item.Label}}"
          >
            <ng-template #nzTitle>
              <a (click)="get(item)">{{ item.Name }}</a>
            </ng-template>
          </nz-list-item-meta>  
        </nz-list-item>
      </ng-template>
    </nz-list>
  
  </div>
  <div *ngIf="!isResult" class="result">
    <button nz-button nzType="dashed" (click)="onBack()"><i nz-icon type="left"></i></button>
    <app-content [input]="contentData"></app-content>
  </div>
  

</div>

