.a{
    border:1px solid black
}
.detail{
    /*border: 1px solid black;*/
    margin: 0 5% 0 5%;
    padding: 10px;
    text-indent: 5px;
    background-color:rgb(74, 225, 252);
    border-radius: 5px;
}

.related{
    /*border: 1px solid black;*/
    /* margin: 10px 0; */
    word-wrap:break-word;
    margin-top:20px;
}


.RelatedCase{
    /*border:1px solid black;*/

    line-height: 23px;
    text-indent : 20px; 
}

.RelatedPeople{
    border:1px solid black;
    margin:20px;
}

.table{ 
    width:100%;
    border:1px solid #cad9ea; 
    color:#666; 
} 
.table th { 
    background-repeat:repeat-x; 
    height:30px; 
} 
.table td,.table th{ 
    border:1px solid #cad9ea; 
    padding:0.5em; 
} 
.table tr.alter{ 
    background-color:#f5fafe; 
} 

.header{
    border:0.5px solid #cad9ea; 
    border-bottom-width: 0px;
    padding:0.5em;
}