.detail{
    /*border: 1px solid black;*/
    margin: 0 5% 0 5%;
    padding: 10px;
    text-indent: 5px;
    background-color:rgb(74, 225, 252);
    border-radius: 5px;
}

.related{
    /*border: 1px solid black;*/
    margin: 10px 0;
    word-wrap:break-word;
}

.RelatedResources{
    /*border: 1px solid black;*/
    margin:10px 20px 20px 20px;
}

.RelatedCase{
    /*border:1px solid black;*/
    margin:20px;
}

.RelatedPeople{
   /* border:1px solid black;*/
    margin:20px;
}